.columns {
  border: 1px solid red; /* border */
  width: 33%;
}

/* start of shirt */

.shirt {
  display: flex;
}

.shirt i {
  position: relative;
  margin-left: -22px;
  height: 10%;
}

i:hover { /* this will reference all i elements */
  background-color: lightblue;
  color: white;
}

.fa-undo {
  color: lightblue;
  border: 1px solid lightblue;
  padding: 3px;
}

.shirt_box img {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* start of shirt box */

.shirt_box {
  border: 1px solid lightblue; /* border */
  margin: 5px;
}

/* start of menu */

.icons i {
  color: lightblue;
  margin-top: 8px;
  margin-bottom: 8px;
}

.icons {
  border: 1px solid yellow; /* border */
  margin: 5px;
  display: flex;
}

.icons button {
  flex-grow: 1;
  flex-shrink: 1;
  border: solid;
  border-width: thin;
  border-color: skyblue;
  background-color: white;
}

.icons button:hover {
  background-color: skyblue;
}

button {

}

/* start of name and price section */

.nameandprice {
  border: 1px solid green; /* border */
  margin: 10px 5px 5px 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  color: skyblue;
  font-size: 125%;
  list-style-type: none;
}

.name {
  flex: 6 1 0;
}

.price {
  flex: 1 1 0;
  font-weight: bold;
}
